<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter For Reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<form  action="#" th:action="@{/}" method="POST">
    <div class="mb-3">
        <label class="form-label">Order by rating</label>
        <select name="highestRatingFirst" class="form-select" aria-label="Default select example">
            <option value="true">Highest First</option>
            <option value="false">Lowest First</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Minimum Rating</label>
        <select name="minRating" class="form-select" aria-label="Default select example">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Order by date</label>
        <select name="newestFirst" class="form-select" aria-label="Default select example">
            <option value="true">Newest First</option>
            <option value="false">Older First</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Prioritize by text</label>
        <select name="prioritizeByText" class="form-select" aria-label="Default select example">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<tr th:each="review: ${reviewList}">
    <td th:text="${review.id}" />
    <td th:text="${review.rating}" />
    <td th:text="${review.sourceName}" />
</tr>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>